<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script>
        $( document ).ready(function() {

        });
    </script>
    <style>
        body {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container" role="main">
        <h1>Write</h1>
        <div>
            <form id="form"  action="/board/write?saveVideoName=<%= dateParser.dateToFilename(new Date()) %>" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="writer">작성자</label>
                    <input type="text" class="form-control" name="writer" id="title" value="" placeholder="작성자를 입력해 주세요">
                </div>

                <div class="mb-3">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" name="subject" value="" placeholder="제목을 입력해 주세요">
                </div>

                <div class="mb-3">
                    <label for="content">내용</label>
                    <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요" ></textarea>
                </div>

                영상 업로드 : <input type="file" name="video">

                <button id="btn" class="btn btn-sm btn-primary">글쓰기</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="location.href='/board'">목록</button>
            </form>
        </div>
    </div>
</body>
</html>

